# design 分支专用

# 需要忽略的文件

# 1. Latex编译生成文件

*.aux
*.bbl
*.bcf
*.blg
*.brf
*.idx 
*.ilg
*.ind
*.ist
*.lof
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.run.xml
*.xdv
*.nav
*.snm
*.log
*.pdfsync

# 2. 输出目录

docs/**/output/
output/
ppt/

# 3. 临时文件 & 备份文件

*.bak
*.backup
*.tmp
*.swp
*.swo
*.lock
*.DS_Store
Thumbs.db

# 4. vscode工作环境

.vscode/
*.code-workspace

# 5. 转化得到的文件

*.pdf
*.doc
*.docx

# 6. 参考与大文件
shared/
resources/papers/
resources/data/
resources/raw/
iresources/tmp/

# 7. 论文目录

docs/proposal/
docs/midterm/
docs/proposal-fix/
docs/thesis/
docs/toSchool/

# 8. ppt

ppt

# 9. 不需要上传到design的文件

src/
drafts/
shared/
tests/
.coverage